<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
	<!-- <div class="sm:mx-auto sm:w-full sm:max-w-sm">
	  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Виды страхования</h2>
	</div> -->
  
	<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm flex justify-content-center">
		<div class="grid lg:w-7 md:w-10">
			<div class="col-12">
				<button routerLink="/menu/osgovts/renew" pButton pRipple label="Продлить полис" class="w-full"></button>
			</div>
			<div class="col-12">
				<button routerLink="/menu/osgovts/create" pButton pRipple label="Создать новый полис" class="w-full"></button>
			</div>
			<div class="col-12">
				<button routerLink="/menu/osgovts/edit" pButton pRipple label="Создать новый полис" class="w-full"></button>
			</div>
		</div>
	</div>
</div>
