
$x-green-600: #16a34a;

.bg-gray-spin
{
    background-color: #8080804d;
}

.animate-spin
{
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fill-green-600
{
    fill: $x-green-600;
}